@model Appuser

<a class="nav-link dropdown-toggle" data-toggle="dropdown" id="profileDropdown">
    <img src="~/img/@Model.Image" alt="profile" />
    <span class="nav-profile-name">@Model.FullName</span>
</a>
  