@model Video

<h1 class="text-warning text-center my-4">@Model.Title</h1>

<div class="container">
    <div class="row">

     
            <div class="my-5 col-md-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="@Model.Link" title="YouTube video" allowfullscreen></iframe>
                </div>
            </div>

        
    </div>

</div>