
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-5">Xoş Gəlmisiniz</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="text-center" style="font-size:20px;">Müəllif hüquqları qorunur. NewNess-in məlumatlarından istifadə etdikdə istinad mütləqdir. Məlumat internet səhifələrində istifadə edildikdə müvafiq keçidin qoyulması mütləqdir..</p>
        </div>
    </div>
</div>

